
header {
position: relative;
top: -20px;
left: -10px;
padding-right: 100px;

height: 5em;
width: 100%;
/*background-color: blue;
*/
}

.top-navbar  {
   border-style: inset;
   border-width: 2px 0px 0px 0px;
   width: 110%;

  }

.top-navbar ul
{

  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
   display: inline;
      background-color: gray;
      text-indent: 0px

}


.top-navbar li {
  display: inline;
  text-align: left;
background-color: gray;
margin: 0px;
 padding: 0px;

}


.top-navbar a {
    text-align: center;
    margin: 2px;

  color: green;
  text-decoration: none;
 background-color: gray;
}

.navbar-here  {

}
.navbar-here a {
       background-color: white;
  color: black;
}

#picture {
  padding: 20px;
  float: left;
}

#social
{
  text-align: center;
  float:left;
}
#social li {
  text-align: left;
}

footer {
  border-width: 2px 0px 0px 0px;
  border-style: inset;
  width: 110%;
  bottom: 0pt;
  clear: both;
}


